body {
	background-color: #18191A;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
	flex: 1 0 auto;
}
.windows-logo-main {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	margin-bottom: 15%;
	width: 80%;
	height: auto;
}
.windows-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 70%;
	height: auto;
}
.color-accent-1 {
	background-color: #242526;
}
.download-link-color {
	color: #0078D4 !important;
}
.download-link-color:hover {
	color: #7ba7c9 !important;
}
/**
.sidenav li.active, li:hover {
    background-color: #242526;
}
.sidenav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}
.sidenav ul div:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}
**/