body {
	background-color: #1D1F21;
}
.windows-logo-main {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	width: 80%;
	height: auto;
}
.windows-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
	margin-bottom: 4%;
	width: 40%;
	height: auto;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-content-top {
	margin-top: 0%;
}
.container-content-middle {
	margin-top: 2%;
	margin-bottom: 2%;
}
.container-content-bottom {
	margin-bottom: 2%;
}
.mdl-layout__header-row {
	background-color: #282A2E;
}
.mdl-mini-footer {
	background-color: #282A2E;
}
.demo-card-wide.mdl-card {
	width: 80%;
	background-color: #282A2E;
}
.demo-card-wide > .mdl-card__title {
	color: #FFFFFF;
	height: 62px;
}
.mdl-card__supporting-text {
	color: #646C7D;
}
.mdl-layout__content {
	flex: 1 0 auto;
}
.mdl-mini-footer {
	flex: 0 0 auto;
}